{% extends "base.html" %}

{% set admin=True %}

{% block title %}
{{ title }} · {{ super() }}
{%- endblock %}

{% block content %}
{% from "admin/formhelpers.html" import render_field, render_button %}
{# `novalidate` disables html5 validation and enforces server-side validation. #}
{# That way, we can show bootstrap error messages, instead of ugly html5 ones. #}
{# Ideally, we should show bootstrap messages but with client-side validation. #}
<form method="post" action="{{ action }}" novalidate>
  {{ form.csrf_token }}
  {{ render_field(form.name) }}
  {{ render_field(form.artist) }}
  {{ render_field(form.scale, rows='1') }}
  {{ render_field(form.rhythm, rows='1') }}
  {{ render_field(form.body, rows='10', class='monospace') }}
  {{ render_field(form.link) }}
  {{ render_button('Υποβολή') }}
</form>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='vendor/autosize.min.js') }}"></script>
<script>autosize($('textarea'));</script>
{% endblock %}
