html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer {
  bottom: 0;
  height: 60px;
  position: absolute;
}

textarea.monospace {
  font-family: 'DejaVu Sans Mono', monospace;
  line-height: 17px;
  font-size: 15px;
  resize: none;
}

pre {
  font-family: 'DejaVu Sans Mono', monospace;
  line-height: 17px;
  font-size: 15px;
  min-height: 100%;  /* Remove scrollbar */
}

a {
  color: #212529;
}

a:hover {
  color: #212529;
}

div.no-underline a:hover {
  text-decoration: none;
}

/* https://stackoverflow.com/a/28286277 */
#autocomplete {
  position: absolute;
  z-index: 1000;
  cursor: default;
  padding: 0;
  margin-top: 2px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: none;
}

#autocomplete > li {
  padding: 3px 20px;
}

#autocomplete > li.selected {
  background-color: #eeeeee;
}
