{% extends "base.html" %}

{% block title %}
Καλλιτέχνες - {{ super() }}
{%- endblock %}

{% block content %}

<legend>
  Καλλιτέχνες
  <span class=pull-right>
    {% if admin %}
    <a href="{{ url_for('admin.index') }}"><span class="glyphicon glyphicon-king" aria-hidden="true"></span></a>
    <a href="{{ url_for('admin.logout') }}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></a>
    {% endif %}
  </span>
</legend>

<div class="row">
  <div class="list-group">
    {% for artist in artists %}
    <div class="col-md-6">
      <a href="{{ url_for('main.artist', slug=artist.slug) }}" class="list-group-item">
        {{ artist.name }} ({{ artist.num }})
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
