<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Buzuki{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Buzuki</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('main.index') }}">Τραγούδια</a></li>
            <li><a href="{{ url_for('main.artists') }}">Καλλιτέχνες</a></li>
            <li><a href="{{ url_for('main.random') }}">Τυχαίο</a></li>
          </ul>
          <form method="get" action="{{ url_for('main.search') }}" class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" class="form-control" value="{{ request.args.get('q', '') }}" placeholder="Αναζήτηση" name="q">
            </div>
          </form>
        </div>
      </div>
    </nav>
    <div class="container">
      {% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="alert alert-{{ category }} alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
      {% endfor %}
      {% block content %}{% endblock %}
      <hr>
      <footer class="footer">
        <p class="text-muted">Copyright &copy; 2016 Takis</p>
      </footer>
    </div>
    {% block javascript %}
    {% endblock %}
  </body>
</html>
