{% extends "base.html" %}

{% block title %}
{{ scale.name }} · {{ super() }}
{%- endblock %}

{% block header %}
{{ scale.root }} {{ scale.name }}
{%- endblock %}

{% block extra_header %}
{% include 'partials/transpose.html' %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-8">
    <div class="row">
      <div class="col-md-12">
        <pre id="scale-info">{{ scale.info }}</pre>
      </div>
      <div class="col-md-12 mt-4">
        {% if songs %}
        <h5>Τραγούδια σε {{ scale.name }}</h5>
        {% endif %}
        <div class="mt-3">
          {% include 'partials/songlist.html' %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mt-4">
    <h5>Άλλοι δρόμοι</h5>
    <div class="row">
      {% for scale in scales %}
      <div class="col-md-12">
        <a href="{{ url_for('main.scale', slug=scale.slug, root=scale.root) }}">
          {{ scale.name }}
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='transpose.js') }}"></script>
<script>
  transposeInit('/api/scales/{{ scale.slug }}', '', '#scale-info');
</script>
{% endblock %}
