{% extends "base.html" %}

{% block title %}
{{ song.name }} · {{ super() }}
{%- endblock %}

{% block header %}
{{ song.name }}{% if song.year %} ({{ song.year }}){% endif %}
{%- endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-7">
    <div class="subtitle">
      <h5>
        <a href="{{ url_for('main.artist', slug=song.artist_slug) }}">{{ song.artist }}</a>
      </h5>
      <span>
        <span>
          {% include 'partials/transpose.html' %}
        </span>
        {% if admin %}
        <span>
          <a href="#"
             id="playlist-menu-button"
             class="dropdown-button ml-1"
             data-toggle="dropdown"
             title="Λίστες">
            <i class="fa fa-th-list" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="playlist-menu-button" style="width: 200px;">
            <h1 class="dropdown-header">Λίστες</h1>
            <div class="dropdown-divider"></div>
            {% for playlist in song.playlists %}
            <div class="playlist-item row">
              <div class="dropdown-item playlist-name col">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox"
                         id="check-{{ playlist.slug }}"
                         class="custom-control-input playlist-checkbox"
                         data-playlist-slug="{{ playlist.slug }}"
                         {%- if playlist.member %}checked{% endif %}>
                  <label class="custom-control-label" for="check-{{ playlist.slug }}">
                    {{ playlist.name }}
                  </label>
                </div>
              </div>
              <div id="root-check-{{ playlist.slug }}"
                   class="col mr-2 playlist-root"
                   {%- if not playlist.member %} style="display: none;"{% endif %}>
                <select class="custom-select" data-playlist-slug="{{ playlist.slug }}">
                  <option {% if not playlist.root %}selected{% endif %}>-</option>
                  <option {% if playlist.root == 'D'  %}selected {% endif %}value="D">D</option>
                  <option {% if playlist.root == 'Ds' %}selected {% endif %}value="Ds">D♯</option>
                  <option {% if playlist.root == 'E'  %}selected {% endif %}value="E">E</option>
                  <option {% if playlist.root == 'F'  %}selected {% endif %}value="F">F</option>
                  <option {% if playlist.root == 'Fs' %}selected {% endif %}value="Fs">F♯</option>
                  <option {% if playlist.root == 'G'  %}selected {% endif %}value="G">G</option>
                  <option {% if playlist.root == 'Gs' %}selected {% endif %}value="Gs">G♯</option>
                  <option {% if playlist.root == 'A'  %}selected {% endif %}value="A">A</option>
                  <option {% if playlist.root == 'As' %}selected {% endif %}value="As">A♯</option>
                  <option {% if playlist.root == 'B'  %}selected {% endif %}value="B">B</option>
                  <option {% if playlist.root == 'C'  %}selected {% endif %}value="C">C</option>
                  <option {% if playlist.root == 'Cs' %}selected {% endif %}value="Cs">C♯</option>
                </select>
              </div>
            </div>
            {% endfor %}
          </div>
        </span>
        {% endif %}
        <span>
          <a href="#"
             id="more-options-menu-button"
             class="dropdown-button ml-1"
             data-toggle="dropdown"
             title="Επιλογές">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="more-options-menu-button">
            {% if admin %}
            <a class="dropdown-item" href="{{ url_for('admin.add') }}">
              <i class="fa fa-file" aria-hidden="true"></i>
              &nbsp;Νέο
            </a>
            <a class="dropdown-item" href="{{ url_for('admin.edit', slug=song.slug) }}">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              &nbsp;Επεξεργασία
            </a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteModal" >
              <i class="fa fa-trash" aria-hidden="true"></i>
              &nbsp;Διαγραφή
            </a>
            {% endif %}
            <a class="dropdown-item"
               {% if semitones or root %}
               href="{{ url_for('admin.save', slug=song.slug, semitones=semitones, root=root) }}"
               {% else %}
               href="#" hidden
               {% endif %}
               id="save-button">
              <i class="fa fa-save" aria-hidden="true"></i>
              &nbsp;Αποθήκευση
            </a>
            <a class="dropdown-item"
               href="{{ url_for('main.songprint', slug=song.slug, semitones=semitones, root=root) }}"
               id="print-button">
              <i class="fa fa-print" aria-hidden="true"></i>
              &nbsp;Εκτύπωση
            </a>
            {% if song.youtube_id %}
            <a class="dropdown-item"
               href="{{ song.link }}"
               target="_blank"
               rel="noopener noreferrer">
              <i class="fa fa-youtube-play" aria-hidden="true"></i>
              &nbsp;YouTube
            </a>
            {% endif %}
          </div>
        </span>
      </span>
    </div>
    <pre class="mt-2" id="song-info">{{ song.info(html=True)|safe}}</pre>
  </div>
  <div class="col-lg-5">
    {% if song.has_audio() %}
    <audio controls preload="none" style="width: 100%;">
      <source src="{{ url_for('main.audio', filename='{}.mp3'.format(song.slug)) }}" type="audio/mpeg"/>
    </audio>
    {% elif song.youtube_id %}
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item"
              src="https://www.youtube.com/embed/{{ song.youtube_id }}"
              title="Video">
      </iframe>
    </div>
    {% endif %}
    {% if songs %}
    <div class="mt-3">
      <h5>{{ related_title }}</h5>
      {% include 'partials/songlist.html' %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
  playlistsInit('{{ song.slug }}', '{{ csrf_token() }}');
  transposeInit('/api/songs/{{ song.slug }}', '{{ song.slug }}', 'song-info');
</script>
{% endblock %}
