{% extends "base.html" %}

{% block title %}
{{ song.name }} · {{ super() }}
{%- endblock %}

{% block extra_nav %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Τόνος</a>
  <div class="dropdown-menu" aria-labelledby="dropdown01">
    <a class="dropdown-item" tabindex="-1" href="{{ url_for('main.song', slug=song.slug, root='D') }}">D</a>
    <a class="dropdown-item" tabindex="-1" href="{{ url_for('main.song', slug=song.slug, root='Ds') }}">D#</a>
    <a class="dropdown-item" tabindex="-1" href="{{ url_for('main.song', slug=song.slug, root='E') }}">E</a>
    <a class="dropdown-item" tabindex="-1" href="{{ url_for('main.song', slug=song.slug, root='F') }}">F</a>
    <a class="dropdown-item" tabindex="-1" href="{{ url_for('main.song', slug=song.slug, root='Fs') }}">F#</a>
    <a class="dropdown-item" tabindex="-1" href="{{ url_for('main.song', slug=song.slug, root='G') }}">G</a>
    <a class="dropdown-item" tabindex="-1" href="{{ url_for('main.song', slug=song.slug, root='Gs') }}">G#</a>
    <a class="dropdown-item" tabindex="-1" href="{{ url_for('main.song', slug=song.slug, root='A') }}">A</a>
    <a class="dropdown-item" tabindex="-1" href="{{ url_for('main.song', slug=song.slug, root='As') }}">A#</a>
    <a class="dropdown-item" tabindex="-1" href="{{ url_for('main.song', slug=song.slug, root='B') }}">B</a>
    <a class="dropdown-item" tabindex="-1" href="{{ url_for('main.song', slug=song.slug, root='C') }}">C</a>
    <a class="dropdown-item" tabindex="-1" href="{{ url_for('main.song', slug=song.slug, root='Cs') }}">C#</a>
  </div>
</li>
{% endblock %}

{% block header %}
<a href="{{ url_for('main.artist', slug=song.artist_slug) }}">{{ song.artist }}</a> - {{ song.name }}
{%- endblock %}

{% block extra_header %}
<a href="{{ url_for('main.songprint', slug=song.slug, semitones=semitones, root=root) }}" title="Print">
  <i class="fa fa-print" aria-hidden="true"></i>
</a>
{% if semitones or root %}
<a href="{{ url_for('admin.save', slug=song.slug, semitones=semitones, root=root) }}" title="Save">
  <i class="fa fa-save" aria-hidden="true"></i>
</a>
{% endif %}
<a href="{{ url_for('admin.edit', slug=song.slug) }}" title="Edit">
  <i class="fa fa-pencil" aria-hidden="true"></i>
</a>
{% if admin %}
<a href="#" data-toggle="modal" data-target="#deleteModal" title="Delete">
  <i class="fa fa-trash" aria-hidden="true"></i>
</a>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-7">
    <pre>{{ song.body }}</pre>
  </div>
  {% if song.youtube_id %}
  <div class="col-lg-5">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item"
              src="https://www.youtube.com/embed/{{ song.youtube_id }}"
              title="Video">
      </iframe>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
