<div class="row">
  {% for song in songs %}
  {% if not artist %}
  <div class="d-none d-md-block col-md-5 col-lg-4 font-weight-bold">
    <a class="float-end" href="{{ url_for('main.artist', slug=song.artist_slug) }}">
      <strong>{{ song.artist }}</strong>
    </a>
  </div>
  {% endif %}
  <div class="col-sm-12 col-md-7 col-lg-8">
    <a href="{{ url_for('main.song', slug=song.slug, root=song.root) }}">
      {{ song.name }}
      {% if song.root %}({{ song.root|replace('s', '#')}}){% endif %}
    </a>
  </div>
  {% endfor %}
</div>
