<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Τόνος
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdown01">
    <a class="dropdown-item transpose-dropdown-item" data-root="D">D</a>
    <a class="dropdown-item transpose-dropdown-item" data-root="Ds">D#</a>
    <a class="dropdown-item transpose-dropdown-item" data-root="E">E</a>
    <a class="dropdown-item transpose-dropdown-item" data-root="F">F</a>
    <a class="dropdown-item transpose-dropdown-item" data-root="Fs">F#</a>
    <a class="dropdown-item transpose-dropdown-item" data-root="G">G</a>
    <a class="dropdown-item transpose-dropdown-item" data-root="Gs">G#</a>
    <a class="dropdown-item transpose-dropdown-item" data-root="A">A</a>
    <a class="dropdown-item transpose-dropdown-item" data-root="As">A#</a>
    <a class="dropdown-item transpose-dropdown-item" data-root="B">B</a>
    <a class="dropdown-item transpose-dropdown-item" data-root="C">C</a>
    <a class="dropdown-item transpose-dropdown-item" data-root="Cs">C#</a>
  </div>
</li>
