<a href="#" class="dropdown-button" data-toggle="dropdown" title="Μετατροπία">
  <i class="fa fa-music"></i>
</a>
<div class="dropdown-menu dropdown-menu-right">
  <a class="dropdown-item transpose-dropdown-item" data-root="D">D</a>
  <a class="dropdown-item transpose-dropdown-item" data-root="Ds">D#</a>
  <a class="dropdown-item transpose-dropdown-item" data-root="E">E</a>
  <a class="dropdown-item transpose-dropdown-item" data-root="F">F</a>
  <a class="dropdown-item transpose-dropdown-item" data-root="Fs">F#</a>
  <a class="dropdown-item transpose-dropdown-item" data-root="G">G</a>
  <a class="dropdown-item transpose-dropdown-item" data-root="Gs">G#</a>
  <a class="dropdown-item transpose-dropdown-item" data-root="A">A</a>
  <a class="dropdown-item transpose-dropdown-item" data-root="As">A#</a>
  <a class="dropdown-item transpose-dropdown-item" data-root="B">B</a>
  <a class="dropdown-item transpose-dropdown-item" data-root="C">C</a>
  <a class="dropdown-item transpose-dropdown-item" data-root="Cs">C#</a>
</div>
